<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>CrazyArcadeNormal.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{8,-12}</string>
                <key>spriteSize</key>
                <string>{708,94}</string>
                <key>spriteSourceSize</key>
                <string>{1104,336}</string>
                <key>textureRect</key>
                <string>{{1545,1},{708,94}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>CrazyArcadeSelected.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{8,-12}</string>
                <key>spriteSize</key>
                <string>{708,94}</string>
                <key>spriteSourceSize</key>
                <string>{1104,336}</string>
                <key>textureRect</key>
                <string>{{1545,1},{708,94}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>HelpNormal.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{8,-8}</string>
                <key>spriteSize</key>
                <string>{770,258}</string>
                <key>spriteSourceSize</key>
                <string>{848,336}</string>
                <key>textureRect</key>
                <string>{{1,1},{770,258}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>HelpSelected.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{8,-8}</string>
                <key>spriteSize</key>
                <string>{770,258}</string>
                <key>spriteSourceSize</key>
                <string>{848,336}</string>
                <key>textureRect</key>
                <string>{{1,261},{770,258}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>QuitNormal.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{8,-8}</string>
                <key>spriteSize</key>
                <string>{770,258}</string>
                <key>spriteSourceSize</key>
                <string>{848,336}</string>
                <key>textureRect</key>
                <string>{{773,1},{770,258}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>QuitSelectes.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{8,-8}</string>
                <key>spriteSize</key>
                <string>{770,258}</string>
                <key>spriteSourceSize</key>
                <string>{848,336}</string>
                <key>textureRect</key>
                <string>{{1,521},{770,258}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>SettingsNormal.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{8,-8}</string>
                <key>spriteSize</key>
                <string>{770,258}</string>
                <key>spriteSourceSize</key>
                <string>{848,336}</string>
                <key>textureRect</key>
                <string>{{1,781},{770,258}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>SettingsSelected.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{8,-8}</string>
                <key>spriteSize</key>
                <string>{770,258}</string>
                <key>spriteSourceSize</key>
                <string>{848,336}</string>
                <key>textureRect</key>
                <string>{{773,261},{770,258}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>StartNormal.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{8,-8}</string>
                <key>spriteSize</key>
                <string>{770,258}</string>
                <key>spriteSourceSize</key>
                <string>{848,336}</string>
                <key>textureRect</key>
                <string>{{773,521},{770,258}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>StartSelected.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{8,-8}</string>
                <key>spriteSize</key>
                <string>{770,258}</string>
                <key>spriteSourceSize</key>
                <string>{848,336}</string>
                <key>textureRect</key>
                <string>{{773,781},{770,258}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>StartSceneSprites.png</string>
            <key>size</key>
            <string>{1640,1040}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:ba4aba6afb2c0560d7293eb0096dcded:8703b25173583255181f6e75f0f3411a:a69e120e5be1f46d39e7fe79a888a407$</string>
            <key>textureFileName</key>
            <string>StartSceneSprites.png</string>
        </dict>
    </dict>
</plist>
